form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 10px;
    button{
        padding: 10px;
        background-color: #710c0c ;
        color: whitesmoke;
        border-radius: 10px;

    }

}