.detalle{
        
        width: 90vw;
        height: 90vh;
        .cuadros{
            display: flex;
            justify-content: center;
            
            width: 100%;
            
         img{
             
             max-width: 60%;
             max-height: 60%;
             
             object-fit: cover;
     
         }
        }
     }

