.coleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    padding-top: 20px;
    h2{
        padding: 10px;
    }
    p{
        width: 12rem;


        padding: 30px;
    }
    
}